{% extends "layout.html" %}

{% block content %}
<section class="card">
    <h1>About This Project</h1>
    <p>This Orthanc Admin interface was developed to provide an intuitive and easy-to-use platform for managing DICOM modalities and monitoring Orthanc server status. It offers a clean UI and efficient tools for healthcare professionals and developers alike.</p>

    <h2>Author</h2>
    <p>Developed by Julio Cesar Nather Junior in 2024. Julio is a radiologist and developer with experience in medical imaging and AI technologies. </p>

    <h2>Purpose</h2>
    <p>The purpose of this project is to streamline the management of DICOM modalities and provide a user-friendly interface for healthcare facilities using the Orthanc DICOM server. It aims to enhance productivity and efficiency in medical imaging workflows.</p>

    <h2>Contact</h2>
    <p>If you have any questions or feedback, please feel free to reach out to Julio at <a href="mailto:julio.nather@hcrp.usp.br">julio.nather@hcrp.usp.br</a>.</p>
</section>
{% endblock %}
