<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orthanc Admin</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">Orthanc Admin</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/modalities">Manage Modalities</a></li>
                <li><a href="/status">Server Status</a></li>
                <li><a href="/about">About</a></li> <!-- New About Page Link -->
            </ul>

        </nav>
    </header>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Orthanc Admin. All rights reserved.</p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>

</html>